<!-- Start off with standard html template -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!-- Added header html here -->
{% include "header.html" %}
<h1>Contact Me</h1>
<p>Contact me for whatever</p>
<ul>
    <li>Phone: 000</li>
    <li>Email: ceo@ceo.com.au </li>
    <li>Mail: 1 Swanston Street, Melbourne, 3000, Victoria, Australia</li>
</ul>
<!-- Added footer html here -->
{% include "footer.html" %} 
</body>
</html>